<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="qna:base-url" value="https://westus.api.cognitive.microsoft.com/qnamaker/v2.0/"/>
    <add key="qna:knowledgebase-key" value="2f6e899d-009c-48b2-a612-dbceffe5371a"/>
    <add key="qna:subscription-key" value="6f062af5e4414420acb21ff59361f1f4"/>
  </appSettings>
</configuration>