<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="packageanalyzer:storage-connection-string" value="DefaultEndpointsProtocol=https;AccountName=u4packageanalyzerstorage;AccountKey=MdL6VK2k65KTPvNXBGCucoyokKKJaRgoG42rhYKVUQ1VMEHXHvWHNMzS42TL7SZ+LHuf+360D0k1DpLw1tZ1nQ==;EndpointSuffix=core.windows.net" />
    <add key="packageanalyzer:storage-container-name" value="packageanalyzer" />
    
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:using:Trace" value="Serilog.Sinks.Trace" />
    <add key="serilog:write-to:Trace" />
    
  </appSettings>
  <connectionStrings>
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=u4packageanalyzerstorage;AccountKey=MdL6VK2k65KTPvNXBGCucoyokKKJaRgoG42rhYKVUQ1VMEHXHvWHNMzS42TL7SZ+LHuf+360D0k1DpLw1tZ1nQ==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=u4packageanalyzerstorage;AccountKey=MdL6VK2k65KTPvNXBGCucoyokKKJaRgoG42rhYKVUQ1VMEHXHvWHNMzS42TL7SZ+LHuf+360D0k1DpLw1tZ1nQ==;EndpointSuffix=core.windows.net" />
  </connectionStrings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.1.0" newVersion="7.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>